<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="all">
        <nav class="navbar">
            <ul>
                <li class="bar1"><a href="">HOME</a></li>
                <li class="bar1"><a href="">BUY</a></li>
                <li class="bar1"><a href="">SELL</a></li>
                <li class="bar1"><a href="">ABOUT US</a></li>
            </ul>
        </nav>
        <div class="start"></div>
        <div class="intro">
            <div class="head">
                <h1>Discover the Place</h1>
            </div>
            <div class="head">
                <h1>You'll Love to live</h1>
            </div>
            <div class="btn1">
                <span class="btn2">
                    <button type="Button" class="btn3">Buy</button>
                    <button type="Button" class="btn3">Sell</button>
                </span>
            </div>
            <div class="search">
                <form action="#">
                    <div class="searchrow">
                        <div class="row">
                            <input type="text" name="search" placeholder="What you need?">
                        </div>
                        <div class="row">
                            <input type="text" name="location" placeholder="Location">
                        </div>
                        <button type="submit" class="submitbtn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="section3">
            <div class="para1">
                <h2>Explore MiracleYard</h2>
            </div>
            <div class="para2">
                |Take a deep dive and browse home and apparments on MiracleYard.
            </div>
        </div>
        <div class="section4">
            <div class="box1" id="b1">
                <h1 class="city">Delhi</h1>
            </div>
            <div class="box2">
                <div class="innerbox" id="b2"><h1 class="city">Noida</h1></div>
                <div class="innerbox" id="b3"><h1 class="city">Ghaziabad</h1></div>
            </div>
            <div class="box2">
                <div class="innerbox" id="b4"><h1 class="city">Saket</h1></div>
                <div class="innerbox" id="b5"><h1 class="city">Gurgoan</h1></div>
            </div>
            <div class="box1" id="b6">
                <h1 class="city">Faridabad</h1>
            </div>
        </div>
        <div class="footer">
            <div class="contacts">
                <div class="cont1">
                    <div class="image1"></div>
                    <div class="text1"><a href="/">+91-1234567892</a></div>
                </div>
                <div class="cont1">
                    <div class="image2"></div>
                    <div class="text2"><a href="/">miralceyards12@gmail.com</a></div>
                </div>
            </div>
            <div class="name">
                <h1>MiracleYard</h1>
            </div>
        </div>
    </div>
</body>

</html>